<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>AccountDatas</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <h2>List of accountData</h2>

    <table>
      <tr>
        <th>Id</th>
        <th>EMail</th>
        <th>HashedPassword</th>
      </tr>

      <tr th:each="accountData : ${accountDatas}">
        <td th:text="${accountData.accountdataid}">Id</td>
        <td th:text="${accountData.email}">Name</td>
        <td th:text="${accountData.hashedpassword}">Population</td>
      </tr>
    </table>
  </body>
</html>
